.searchBar {
    flex-direction: row-reverse;

    margin: auto;
    padding: .5em;
    font-size: 1em;
    display: flex;
    border: .2em solid #FFA07A;
    border-radius: 20px;
    background-color: whitesmoke;
    width: 80%;
    height: 3rem;
    align-items: center;
}

.searchBarInput {
    /*margin: auto;*/
    border: none;
    background-color: transparent;
    padding: 0.5rem;
    font-size: 0.8rem;
    flex: 9;
    /*align-self: flex-start;*/
}

/* TODO: Figure out what we want to happen when search bar is clicked. */
.searchBarInput:focus {
    border-radius: 1px;
    outline: none;
}

.searchBarIcon {
    font-size: .8em;
    flex: 1;
    position: absolute;
}

/*.searchBar > p {
    font-family: Noto serif;
    font-size: 1em;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -15em;
    font-weight: bold;
    text-transform: capitalize;
}

.searchBar-input {
    border: .2em solid #FFA07A;
    border-radius: 20px;
    background-color :whitesmoke;
    margin: auto; 
    display: flex; 
    padding: .5em;
    font-size: 1em;
    width: 67%;
    height: 1.8em;
    top: -16em;
    align-items: center;
    position: relative;
}

.searchBar-input:focus {
    border-radius: 1px;
    outline: none;
}

.search-icon {
    font-size: .8em;
    align-items: center;
    display: flex;
    position: relative;
    top: -21.5em;
    left: 80%;
}*/