 .mainFooter {
    margin-top: 4rem;
    width: 100%;
    height: 200px;
    box-shadow: 0px 0px 25px rgb(207, 207, 207);
    color: black;
    background: #fbd9ad;
    display: flex;
    flex-direction: column;
    padding: 20px 10px;
 }

 /* TODO: change to column in the laptop/desktop media queries */
 .leftRightFooter {
     display: flex;
     flex-direction: column-reverse;
 }

 .leftFooter {
    margin: 0 2rem;

    font-family: Oxygen;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
 }
 .leftFooterHeader {
    display: none;
 }

 .leftFooterItems {
     display: flex;
     justify-content: space-around;
 }

 .rightFooter {
     margin: 0; /* Here to override random a margin-right that's being applied when it gets to laptop width or above */
                /* Something in Home.css might be to blame? */
 }

 .rightFooterHeader {
     display: none;
 }

 .footerEmail {
    display: none;
 }

 .footerSocials {
    display: flex;
     justify-content: center;
 }

 .socialIcon {
     flex-basis: 10%;
 }
 a {
   color: black;
   text-decoration: none;
   font-size: 15px;
}

 .bottomFooter {

 }

 /* LAPTOP */
 @media (min-width: 768px) {
     .mainFooter {
         height: 400px;
     }

    .leftRightFooter {
        flex-direction: row;
        justify-content: space-evenly;
    }

     .leftFooterHeader {
         display: inline;

         font-style: normal;
         font-weight: bold;
         font-family: Noto Serif;
         font-size: 30px;
         line-height: 54px;
         letter-spacing: -0.05em;
         color:#000000;
     }

     .leftFooterItems {
         flex-direction: column;
     }

     .rightFooter {

         font-family: Oxygen;
         font-style: normal;
         font-weight: normal;
         font-size: 17px;
     }

     .rightFooterHeader {
         display: inline;

         font-style: normal;
         font-weight: bold;
         font-family: Noto Serif;
         font-size:25px;
     }

     .footerEmail {
         display: inline;
     }

     /* TODO: Ask the team what they think about the vertical spacing */
     .footerSocials {
         margin-top: 1.5rem;
         display: flex;
         justify-content: center;
     }

     .socialIcon {
         margin-left: 0.5rem;
     }

 }

 /* TODO: Ask the team what they think needs adding to the desktop version. */

 /* MONITORS */
 @media (min-width: 1280px) {

 }

